<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Onliner.Model.Properties.Settings.onlinerConnectionString"
            connectionString="Server=e24bafa8-2d95-4c3b-8677-a2bb00a52dce.sqlserver.sequelizer.com;Database=dbe24bafa82d954c3b8677a2bb00a52dce;User ID=pifzisandswcunoi;Password=G4Czh4JAq7hBAGV5mWRoQmPUAi6FgWyinNxP884PRUNuJGdH653aVsMunQ877duB;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>