<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Onliner.Model.Properties.Settings.onlinerConnectionString"
            connectionString="Data Source=epbyminw2162;Initial Catalog=onliner;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>